.page {
  font-family: Arial, Helvetica, sans-serif;
}

.page__container {
  width: 820px;
  margin: 0 auto;
}

.bayan {
  cursor: pointer;
}

.bayan__item {
  position: relative;
}

.bayan__item::after {
  display: none;
  content: "";
  position: absolute;
  right: 20px;
  top: 15px;
  width: 25px;
  height: 25px;
  background: url("../img/icons/plus.svg") center no-repeat;
}

.bayan__list:hover .bayan__item::after {
  display: block;
}

.bayan__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bayan__item {
  border-top: 1px gray solid;
}

.bayan__link {
  color: inherit;
  text-decoration: none;
}

.bayan__image {
  display: none;
  width: 50%;
  margin-bottom: 25px;
}

.bayan__title {
  color: blue;
}

.bayan__list:hover .bayan__title,
.bayan__item:target .bayan__title {
  color: black;
} 

.bayan__item:target .bayan__image,
.bayan__item:hover .bayan__image { 
  display: block;
}

.bayan__item:target::after {
  background: url("../img/icons/close.svg") center no-repeat;
}

.bayan__link:active .bayan__title {
  color: blue;
  opacity: 0.7;
}

.bayan__link:active .bayan__image {
  color: blue;
  opacity: 0.7;
}